body {
    background-color: blueviolet;
}

.q-box {
background-color: white;
max-width: 400px;
width: 80%;
margin: 100px auto 0;
border-radius: 5px;
padding: 20px;
}

.qbtn {
    background-color: white;
    color: hsl(252, 54%, 61%);
    font-weight: solid;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    width: 100%;
    border: 5px solid #000;
    }

     .qbtn:hover{
    background-color: blueviolet;
    }